name: release-main

on:
  push:
    tags:
      - "**"

jobs:
  deploy-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Set up the environment
        uses: ./.github/actions/setup-python-env

      - name: Deploy documentation
        run: |
          git fetch origin gh-pages --depth=1
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          uv run mike deploy ${{ github.ref_name }} --push

  bundle:
    name: Bundle ${{ matrix.platform }}
    strategy:
      fail-fast: False
      matrix:
        platform:
          - windows-latest
          - macOS-14
          - ubuntu-22.04
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: "Set up Python"
        uses: actions/setup-python@v6
        with:
          python-version-file: "pyproject.toml"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install python dependencies
        run: uv sync --locked --all-extras --dev
      - name: Install Windows dependencies
        if: runner.os == 'Windows'
        run: choco install innosetup -y
      - name: Build
        run: ./build.sh
        shell: bash
      - name: Upload build as artifact
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: bundle-${{ matrix.platform }}
          path: |
            deployment/*.exe
            deployment/*.dmg
            deployment/*.deb

  draft_release:
    name: draft-release
    needs: bundle
    runs-on: ubuntu-latest
    steps:
      - name: Download build artifacts
        uses: actions/download-artifact@v4
      - run: ls -lR
      - name: Create Github release draft
        uses: softprops/action-gh-release@v2
        with:
          files: |
            bundle-*/*.exe
            bundle-*/*.dmg
            bundle-*/*.deb
          draft: true
          name: Neon Player Release
